.inventory-page-container {
  width: 100%;
  margin-left: $navbar-width;
  // border: 2px solid red;
}

.item-detail-container {
  width: 100%;
}

.inventory-table {
  // margin-left: $navbar-width;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
  a {
    color: #808080;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: $primary-color;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: $accent-color;
    box-shadow: $shadow-head;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    // color: #808080;
  }

  tr:nth-child(even) td {
    background: #ececec;
  }
}

.contact-table,
.item-detail-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
  a {
    color: #808080;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: $primary-color;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    box-shadow: $shadow-head;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    // color: #808080;
  }

  tr:nth-child(even) td {
    background: transparent;
  }

  tr:nth-child(odd) td {
    background: #ececec;
  }
}

.incident-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
  a {
    color: #808080;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: $primary-color;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    box-shadow: $shadow-head;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    // color: #808080;
  }

  tr:nth-child(even) td {
    background: #ececec;
  }
}

.item-detail-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  color: #ffffff;
  background-color: $primary-color;
  margin: 0;
}
.edit-svg {
  width: $svg-width;
  margin-left: $element-margin;
}

.edit-item-form {
  display: flex;
  flex-direction: column;
  padding: $element-padding;

  label {
    margin: $element-margin 0;
  }

  input {
    margin: $element-margin 0;
  }
}

.icon-action-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  fill: #ffffff;

  p {
    margin: 0 $element-margin;
  }

  &:hover {
    cursor: pointer;
    color: $matte-black;
    fill: $matte-black;
    transition: 0.2s;
  }

  &:active {
    color: $active-color;
    fill: $active-color;
    transition: 0.2s;
  }
}

.back-svg {
  display: flex;
  align-items: center;
  width: $svg-width;
  margin-right: $element-margin;
}

.more-detail {
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    color: $primary-color;
    transition: 0.2s;
  }
}
