.inventory-page-container {
  width: 100%;
  margin-left: $navbar-width;
}

.item-detail-container {
  width: 100%;
}

.tables-container {
  padding: $element-padding;
}

.admin-tables {
  box-shadow: $shadow;
  border-radius: $border-radius;
}

.inventory-table {
  display: grid;
  border-collapse: collapse;
  width: 100%;
  grid-template-columns:
    max(1.67fr)
    max(1.67fr)
    max(1.67fr)
    max(1.67fr);
  a {
    color: #808080;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: $primary-color;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    box-shadow: $shadow-head;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  tr:nth-child(even) td {
    background: #ececec;
  }
}

.contact-table,
.item-detail-table {
  display: grid;
  border-collapse: collapse;
  width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
  a {
    color: #808080;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: $primary-color;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    box-shadow: $shadow-head;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    // color: #808080;
  }

  tr:nth-child(even) td {
    background: transparent;
  }

  tr:nth-child(odd) td {
    background: #ececec;
  }
}

.incident-table {
  display: grid;
  border-collapse: collapse;
  width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
  a {
    color: #808080;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: #ececec;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: $matte-black;
    box-shadow: $shadow-head;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    // color: #808080;
  }

  tr:nth-child(even) td {
    background: #ececec;
  }
}

.item-detail-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: $primary-color;
  margin: 0;
  p {
    margin: 0 $element-margin;
  }
}
.edit-svg {
  width: $svg-width;
  margin-left: $element-margin;
}

.icon-action-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  fill: $matte-black;

  p {
    margin: 0 $element-margin;
  }
  &:hover {
    cursor: pointer;
    color: $accent-color;
    fill: $accent-color;
    transition: 0.2s;
  }

  &:active {
    color: $active-color;
    fill: $active-color;
    transition: 0.2s;
  }
}

.back-svg {
  display: flex;
  align-items: center;
  width: $svg-width;
  margin-right: $element-margin;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    fill: $primary-color;
    transition: 0.2s;
  }

  &:active {
    fill: $active-color;
    transition: 0.2s;
  }
}

.more-detail {
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    color: $primary-color;
    transition: 0.2s;
  }
}

.table-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 5px 20px;
  margin-bottom: $element-margin * 5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  h4 {
    margin: 0;
  }

  .filter-caret {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      color: #808080;
    }

    .down-caret {
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        fill: $primary-color;
        transition: 0.2s;
      }

      &:active {
        fill: $active-color;
        transition: 0.2s;
      }
    }
  }
}

.filter-form {
  display: flex;
  margin: 15px 0;

  form {
    display: flex;
    flex-direction: column;

    input {
      top: 0;
      left: 0;
      width: 20%;
      border: 2px solid $clr-gray;
      border-radius: $border-radius;
      font-family: inherit;
      font-size: inherit;
      padding: 8px 0;
      text-indent: 15px;

      &:hover {
        border-color: $primary-light;
      }

      &:focus {
        border-color: $primary-color;
      }
    }

    span {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      padding: 5px 20px;
      margin-bottom: $element-margin * 5;
    }
  }
}

.filter-elem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: $element-margin 0;
}

.filter-input {
  border: 2px solid red;
  width: 150px;
}
