.inventory-page-container {
  width: 100%;
  margin-left: $navbar-width;
  // border: 2px solid red;
}

.item-detail-container {
  width: 100%;
}

.inventory-table {
  // margin-left: $navbar-width;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
  a {
    color: #808080;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: $primary-color;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    box-shadow: $shadow-head;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    // color: #808080;
  }

  tr:nth-child(even) td {
    background: #ececec;
  }
}

.contact-table,
.item-detail-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
  a {
    color: #808080;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: $primary-color;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    box-shadow: $shadow-head;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    // color: #808080;
  }

  tr:nth-child(even) td {
    background: transparent;
  }

  tr:nth-child(odd) td {
    background: #ececec;
  }
}

.incident-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
  a {
    color: #808080;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background: $primary-color;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    box-shadow: $shadow-head;
  }

  th:last-child {
    border: 0;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    // color: #808080;
  }

  tr:nth-child(even) td {
    background: #ececec;
  }
}

.item-detail-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  color: #ffffff;
  background-color: $primary-color;
  margin: 0;
}
.edit-svg {
  width: $svg-width;

  svg {
    fill: #ffffff;
  }
}

.edit-item-form {
  display: flex;
  flex-direction: column;
}

.back-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.back-svg {
  display: flex;
  align-items: center;
  width: $svg-width;
  margin-right: $element-margin;
  svg {
    fill: #ffffff;
  }
}
