$element-margin: 5px;
$primary-color: #f8a145;
$primary-light: #ffdab2;
$matte-black: #28282b;
$accent-color: #ffffff;
$bkgrd-color: #f9f7f7;
$element-padding: 2.5%;
$border-radius: 5px;
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$pastel-green: #77dd77;
$pastel-orange: #ffb347;
$pastel-red: #fb6962;
$card-border: 1px solid rgba(0, 0, 0, 0.2);
$shadow-head: rgba(0, 0, 0, 0.3) 0px 2px 2px 0px;
$navbar-width: 60px;
$svg-width: 15px;
$active-color: #cecece;
$clr-gray: #c5cad3;
