$element-margin: 5px;
// $primary-color: #3f72af;
$primary-color: #f8a145;
$matte-black: #28282b;
$accent-color: #f8f8f8;
$bkgrd-color: #f9f7f7;
$element-padding: 2.5%;
$border-radius: 15px;
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$pastel-green: #77dd77;
$pastel-orange: #ffb347;
$pastel-red: #fb6962;
