@import "../components/Main/main";
@import "../components/NavBar/navbar";
@import "../components/Ticket/ticket";
@import "../components/Dashboard/dashboard";
@import "../components/Inventory/inventory";



* {
  margin: 0;
  padding: 0;
  background-color: #fbf7f5;
}

a {
  text-decoration: none;
  color: black;
}
