.blue-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f8f8;
  background-color: #f8a145;
  height: 100vh;
  max-height: 600px;
}

.blue-banner h2 {
  background-color: transparent;
}

.blue-banner div {
  background-color: transparent;
}

.blue-banner p {
  background-color: transparent;
}

.blue-banner button {
  background-color: white;
  color: black;
}

.white-banner {
  background-color: #f9f7f7;
  height: 100vh;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.curve-one {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-one svg {
  display: block;
  width: calc(142% + 1.3px);
  height: 113px;
}

.curve-one .shape-fill {
  fill: #f8a145;
}

.curve-two {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.curve-two svg {
  display: block;
  width: calc(117% + 1.3px);
  height: 154px;
}

.curve-two .shape-fill {
  fill: #f8a145;
}

.curve-three {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-three svg {
  display: block;
  width: calc(274% + 1.3px);
  height: 131px;
}

.curve-three .shape-fill {
  fill: #f8a145;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #28282b;
  height: 80px;
  margin-bottom: 50px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.nav-container a {
  font-size: 1.15rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  color: #f8f8f8;
}

.nav-container a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #f8a145;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-container a:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: lightgray;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-elem {
  color: black;
}

.ticket-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
  border: 1px solid green;
}

.ticket-page-container div {
  margin: 5px 0;
}

.ticket-card-container {
  width: 50%;
  max-width: 700px;
  padding: 2.5%;
}

.admin-tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  max-width: 700px;
  margin: 5px 0;
  padding: 2.5%;
}

.ticket-label {
  background-color: #f8a145;
  color: #f8f8f8;
  padding: 2.5%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
  text-align: center;
}

.upcoming-tickets {
  height: 30%;
}

.current-ticket {
  height: 70%;
}

.ticket-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  background-color: #f8f8f8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.display-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticket-card {
  margin: 5px 0;
  width: 90%;
  padding: 2.5%;
  background-color: #f8f8f8;
}

.ticket-card p {
  margin: 5px 0;
  background-color: #f8f8f8;
}

.ticket-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8f8f8;
}

.green {
  color: #77dd77;
}

.yellow {
  color: #ffb347;
}

.red {
  color: #fb6962;
}

.ticket-resolve-container {
  padding: 2.5%;
}

.ticket-resolve-container div {
  padding: 2.5%;
}

.ticket-resolve-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5%;
}

.ticket-resolve-container form label {
  margin: 5px 0;
}

.ticket-resolve-container form textarea {
  margin: 5px 0;
  min-height: 150px;
}

.ticket-resolve-container form button {
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ticket-resolve-container p {
  margin: 5px 0;
}

.upcoming-container {
  padding: 2.5%;
}

.upcoming-container div {
  padding: 2.5%;
}

.upcoming-container p {
  margin: 5px;
}

.top-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 2px solid green;
  width: 80%;
  max-width: 1000px;
  margin: 10px;
  padding: 2.5%;
  border: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-data {
  padding: 2.5%;
  background-color: transparent;
  width: 20%;
  max-width: 200px;
}

.top-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px dotted red;
}

.donut-circle {
  width: 30%;
  border: 2px solid orange;
  margin: 10px;
  padding: 2.5%;
  border: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pie-chart {
  width: 30%;
  border: 2px solid blue;
}

.bar-graph {
  width: 50%;
  border: 2px solid red;
}

.line-chart {
  width: 50%;
  border: 2px solid green;
}

table {
  display: -ms-grid;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  -ms-grid-columns: minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr);
      grid-template-columns: minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr);
}

table a {
  color: #808080;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #f8a145;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: #ececec;
}

.employee-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid red;
  min-height: 100vh;
}

.employee-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  background-color: #ffffff;
  padding: 2.5%;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 650px;
  height: 100%;
}

.employee-container form label {
  margin: 15px 0;
  background-color: #ffffff;
}

.employee-container form select {
  background-color: #ffffff;
}

.employee-container form textarea {
  background-color: #ffffff;
  height: 40%;
  min-height: 100px;
}

.employee-container form input {
  background-color: #ffffff;
}

.employee-container form button {
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.employee-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50%;
}

.employee-header h4 {
  margin: 5px 0;
}

.employee-header p {
  margin: 5px 0;
}

.login-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  border: 1px solid red;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  max-width: 500px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2.5%;
}

.login-form button {
  margin: 10px 0;
  padding: 2.5%;
  width: 100%;
  border-radius: 0;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 1.05px;
  line-height: 1.25;
}

html {
  background-color: #f9f7f7;
}

a {
  text-decoration: none;
  background-color: transparent;
}

h4 {
  font-size: 1.15rem;
}

p {
  font-size: 1rem;
  background-color: transparent;
}

input {
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
}

textarea {
  outline: 0;
  border: 0;
  border: 1px solid black;
  font-family: inherit;
}

button {
  outline: 0;
  border: 0;
  border-radius: 15px;
  padding: 2.5%;
  margin: 5px 0;
  background-color: #f8a145;
  color: #f8f8f8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: #6cc9e7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:active {
  background-color: #b0d8e6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=style.css.map */