.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}

.nav-elem {
  color: black;
}

div {
  margin: 5px 0;
}

.ticket-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
  border: 1px solid green;
}

.ticket-card-container {
  width: 50%;
  max-width: 700px;
  padding: 2.5%;
}

.admin-tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  max-width: 700px;
  margin: 5px 0;
  padding: 2.5%;
}

.ticket-label {
  background-color: #3f72af;
  color: #f8f8f8;
  padding: 2.5%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
  text-align: center;
}

.upcoming-tickets {
  height: 30%;
}

.current-ticket {
  height: 70%;
}

.ticket-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  background-color: #f8f8f8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.display-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticket-card {
  margin: 5px 0;
  width: 90%;
  padding: 2.5%;
  background-color: #f8f8f8;
}

.ticket-card p {
  margin: 5px 0;
  background-color: #f8f8f8;
}

.ticket-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8f8f8;
}

.green {
  color: #77dd77;
}

.yellow {
  color: #ffb347;
}

.red {
  color: #fb6962;
}

.ticket-resolve-container {
  padding: 2.5%;
}

.ticket-resolve-container div {
  padding: 2.5%;
}

.ticket-resolve-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5%;
}

.ticket-resolve-container form label {
  margin: 5px 0;
}

.ticket-resolve-container form textarea {
  margin: 5px 0;
  min-height: 150px;
}

.ticket-resolve-container form button {
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ticket-resolve-container p {
  margin: 5px 0;
}

.upcoming-container {
  padding: 2.5%;
}

.upcoming-container div {
  padding: 2.5%;
}

.upcoming-container p {
  margin: 5px;
}

.bar-graph {
  width: 50%;
}

table {
  display: -ms-grid;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  -ms-grid-columns: minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr);
      grid-template-columns: minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr);
}

table a {
  color: #808080;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #3f72af;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: #ececec;
}

.employee-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid red;
}

.employee-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.employee-container form label {
  margin: 5px 0;
}

.login-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  border: 1px solid red;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-form button {
  margin: 5px 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  background-color: #f9f7f7;
  letter-spacing: 1.05px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  background-color: transparent;
}

h4 {
  font-size: 1.15rem;
}

p {
  font-size: 1rem;
}

input {
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
}

textarea {
  outline: 0;
  border: 0;
  border: 1px solid black;
  font-family: inherit;
}

button {
  outline: 0;
  border: 0;
  border-radius: 15px;
  padding: 2.5%;
  margin: 5px 0;
  background-color: #3f72af;
  color: #f8f8f8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: #6cc9e7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:active {
  background-color: #b0d8e6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=style.css.map */