@import "../components/Main/main";
@import "../components/NavBar/navbar";
@import "../components/Ticket/ticket";
@import "../components/Dashboard/dashboard";
@import "../components/Inventory/inventory";
@import "../components/Employee/employee";
@import "../components/Login/login";

* {
  margin: 0;
  padding: 0;
  background-color: $bkgrd-color;
  letter-spacing: 1.05px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  font-size: 1.15rem;
}

p {
  font-size: 1rem;

}

input {
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
}

textarea {
  outline: 0;
  border: 0;
  border: 1px solid black;
  font-family: inherit;
}
