@import "../components/Main/main";
@import "../components/NavBar/navbar";
@import "../components/Ticket/ticket";
@import "../components/Dashboard/dashboard";
@import "../components/Inventory/inventory";
@import "../components/Employee/employee";
@import "../components/Login/login";

* {
  margin: 0;
  padding: 0;
  background-color: $bkgrd-color;
  letter-spacing: 1.05px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  font-size: 1.15rem;
}

p {
  font-size: 1rem;
}

input {
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
}

textarea {
  outline: 0;
  border: 0;
  border: 1px solid black;
  font-family: inherit;
}

button {
  outline: 0;
  border: 0;
  border-radius: $border-radius;
  // border-bottom-left-radius: $border-radius;
  // border-bottom-right-radius: $border-radius;
  // border-top-right-radius: $border-radius;
  padding: $element-padding;
  margin: $element-margin 0;
  background-color: $primary-color;
  color: $accent-color;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background-color: rgb(108, 201, 231);
    transition: 0.2s;
    box-shadow: $shadow;
  }

  &:active {
    background-color: rgb(176, 216, 230);
    transition: 0.2s;
  }
}
