@import "../../style/variables";

.blue-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $accent-color;
  background-color: $primary-color;
  height: 100vh;
  max-height: 600px;
  //   -webkit-transform: skewY(2deg);
  //   -moz-transform: skewY(2deg);
  //   -ms-transform: skewY(2deg);
  //   -o-transform: skewY(2deg);
  //   transform: skewY(2deg);
  margin: 0;

  h2 {
    background-color: transparent;
  }
}

.white-banner {
  background-color: $bkgrd-color;
  height: 100vh;
  max-height: 600px;
  //   -webkit-transform: skewY(2deg);
  //   -moz-transform: skewY(2deg);
  //   -ms-transform: skewY(2deg);
  //   -o-transform: skewY(2deg);
  //   transform: skewY(2deg);
  margin: 0;
}

.custom-shape-divider-top-1649271825 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin: 0;
}

.custom-shape-divider-top-1649271825 svg {
  display: block;
  width: calc(142% + 1.3px);
  height: 113px;
}

.custom-shape-divider-top-1649271825 .shape-fill {
  fill: #3f72af;
}

.custom-shape-divider-bottom-1649272289 {
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649272289 svg {
  display: block;
  width: calc(117% + 1.3px);
  height: 154px;
}

.custom-shape-divider-bottom-1649272289 .shape-fill {
  fill: #3f72af;
}

.custom-shape-divider-top-1649272371 {
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1649272371 svg {
  display: block;
  width: calc(274% + 1.3px);
  height: 131px;
}

.custom-shape-divider-top-1649272371 .shape-fill {
  fill: #3f72af;
}
