@import "../../style/variables";

.main-page-container {
  margin-left: $navbar-width;
}
.blue-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $accent-color;
  background-color: $primary-color;
  height: 100vh;
  max-height: 600px;
  //   -webkit-transform: skewY(2deg);
  //   -moz-transform: skewY(2deg);
  //   -ms-transform: skewY(2deg);
  //   -o-transform: skewY(2deg);
  //   transform: skewY(2deg);

  button {
    background-color: white;
    color: black;
  }
}

.white-banner {
  background-color: $bkgrd-color;
  height: 100vh;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curve-one {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-one svg {
  display: block;
  width: calc(142% + 1.3px);
  height: 113px;
}

.curve-one .shape-fill {
  fill: $primary-color;
}

.curve-two {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curve-two svg {
  display: block;
  width: calc(117% + 1.3px);
  height: 154px;
}

.curve-two .shape-fill {
  fill: $primary-color;
}

.curve-three {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-three svg {
  display: block;
  width: calc(274% + 1.3px);
  height: 131px;
}

.curve-three .shape-fill {
  fill: $primary-color;
}
