@import "../../style/variables";

.main-page-container {
  margin-left: $navbar-width;
  width: 100%;
}
.orange-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $accent-color;
  background-color: $primary-color;
  height: 100vh;
  width: 100%;

  button {
    background-color: white;
    color: black;
  }
}

.white-banner {
  background-color: $bkgrd-color;
  height: 100vh;
  max-height: 600px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.curve-one {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-one svg {
  display: block;
  width: calc(142% + 1.3px);
  height: 113px;
}

.curve-one .shape-fill {
  fill: $primary-color;
}

.curve-two {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curve-two svg {
  display: block;
  width: calc(117% + 1.3px);
  height: 154px;
}

.curve-two .shape-fill {
  fill: $primary-color;
}

.curve-three {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve-three svg {
  display: block;
  width: calc(274% + 1.3px);
  height: 131px;
}

.curve-three .shape-fill {
  fill: $primary-color;
}

.main-text-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.main-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;
  h2 {
    font-size: 5rem;
    color: $matte-black;
    margin-bottom: 0;
  }

  span {
    p {
      margin: 0;
      font-size: 2.5rem;
    }
  }
}

.main-illustrations {
  display: flex;
  align-items: center;
  width: 45%;
  margin: 0 50px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.main-blurb {
  width: 50%;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

.gradient-block {
  background-color: black;
  width: 20%;
  height: 10px;
  border-radius: $border-radius;
  margin: 20px 0;
}

.orange-gradient {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.black-gradient {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

#computer-head {
  animation: head 1.5s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#computer-mug {
  animation: mug 3s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#line-graph {
  animation: head 1.5s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#pie-chart {
  animation: head 1.8s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#checkarm {
  animation: mug 3s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#checkcardone {
  animation: head 1.8s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#checkcardtwo {
  animation: head 1.5s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#paperone {
  animation: head 1.8s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#papertwo {
  animation: head 1.5s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#inv-armcheck {
  animation: check 3s ease-in-out infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#inventoryboxone {
  animation: box 1.8s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#inventoryboxtwo {
  animation: box 1.5s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes head {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5%);
  }
}

@keyframes mug {
  from {
    transform: rotateZ(0deg) translateY(0);
  }
  to {
    transform: rotateZ(20deg) translateY(-10%);
  }
}

@keyframes check {
  from {
    transform: rotateZ(0deg) translateY(0);
  }
  to {
    transform: rotateZ(20deg) translateY(-10%);
  }
}

@keyframes box {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(8%);
  }
}

@media only screen and (max-width: 800px) {
  .main-text-cards {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 80%;
  }

  .main-illustrations {
    margin: 25px 0;
  }

  .white-banner {
    height: 100vh;
  }

  .main-blurb {
    width: 100%;
  }

  .main-titles {
    h2 {
      font-size: 4rem;
      margin: 0;
    }
  }
}
