@import "../../style/variables";

.ticket-page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  // border: 1px solid green;
  width: 100%;
  margin-left: $navbar-width;
}

.incident-incomplete {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  // border: 2px solid red;
  width: 100%;
}

.ticket-card-container {
  width: 80%;
  max-width: 700px;
}

.ticket-case-details-container {
  width: 45%;
  max-width: 900px;
}

.admin-tickets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  max-width: 900px;
}

.ticket-label {
  background-color: #ececec;
  box-shadow: $shadow-head;
  padding: $element-padding;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  margin: 0;
}

.shared-subsection {
  display: flex;
  justify-content: space-between;

  .two-col {
    width: 45%;
  }
}

.upcoming-tickets {
  height: 30%;
}

.current-ticket {
  height: 70%;
}

.display-ticket {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ticket-card {
  margin: $element-margin 0;
  width: 100%;
  background-color: $accent-color;

  p {
    margin: $element-margin 0;
  }
}

.ticket-head {
  display: flex;
  justify-content: space-between;
  background-color: $accent-color;
}

.green {
  color: $pastel-green;
}
.yellow {
  color: $pastel-orange;
}

.red {
  color: $pastel-red;
}

.ticket-resolve-container {
  // padding: $element-padding;

  form {
    display: flex;
    flex-direction: column;
    padding: $element-padding;
    label {
      margin: $element-margin 0;
    }

    textarea {
      margin: $element-margin 0;
      min-height: 150px;
    }

    button {
      border-radius: 0;
      color: #ffffff;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

.ticket-subsections {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.detail-label {
  font-size: 0.8rem;
  margin-bottom: $element-margin;
  color: #1a1a1a;
}

.card {
  padding: $element-padding;
}

.ticket-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $border-radius;
  background-color: $accent-color;
  box-shadow: $shadow;
  margin: $element-margin * 5 0;
  border: $card-border;
}

.upcoming-container {
  padding: $element-padding;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
