@import "../../style/variables";

.ticket-page-container {
  display: flex;
  justify-content: space-start;
  align-items: center;
  flex-direction: column;
  min-height: 200vh;
  // border: 1px solid green;
  width: 100%;
  margin-left: $navbar-width;
}

.incident-incomplete {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  // border: 2px solid red;
  width: 100%;
}

.ticket-card-container {
  width: 80%;
  max-width: 700px;
}

.ticket-case-details-container {
  width: 45%;
  max-width: 900px;
}

.admin-tickets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  max-width: 900px;
}

.ticket-label-container {
  display: flex;
  justify-content: space-between;
  background-color: #ececec;
  box-shadow: $shadow-head;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  svg {
    margin-right: $element-margin * 2;
    transition: 0.2s;

    &:hover {
      transition: 0.2s;
      cursor: pointer;
      fill: $primary-color;
    }
  }

  .ticket-label {
    box-shadow: none;
  }
}

.ticket-label {
  margin: 0;
  background-color: #ececec;
  box-shadow: $shadow-head;
  padding: $element-padding;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.shared-subsection {
  display: flex;
  justify-content: space-between;

  .two-col {
    width: 45%;
  }
}

.upcoming-tickets {
  height: 30%;
}

.current-ticket {
  height: 70%;
}

.display-ticket {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ticket-card {
  margin: $element-margin 0;
  width: 100%;
  background-color: $accent-color;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  padding: $element-padding;

  p {
    margin: $element-margin 0;
  }
}

.ticket-head {
  display: flex;
  justify-content: space-between;
  background-color: $accent-color;
}

.green {
  color: $pastel-green;
}
.yellow {
  color: $pastel-orange;
}

.red {
  color: $pastel-red;
}

.ticket-resolve-container {
  // padding: $element-padding;

  form {
    display: flex;
    flex-direction: column;
    padding: $element-padding;
    label {
      margin: $element-margin 0;
    }

    textarea {
      margin: $element-margin 0;
      min-height: 150px;
    }

    button {
      border-radius: 0;
      color: #ffffff;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

.ticket-subsections {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.detail-label {
  font-size: 0.8rem;
  margin-bottom: $element-margin;
  color: #1a1a1a;
}

.card {
  padding: $element-padding;
}

.ticket-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $border-radius;
  background-color: $accent-color;
  box-shadow: $shadow;
  margin: $element-margin * 5 0;
  border: $card-border;
}

.upcoming-container {
  padding: $element-padding;
}

.ticket-tab-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  word-break: break-all;
  padding: $element-padding;
  // border: 2px solid red;
  button {
    font-weight: 600;
    font-size: 1.15rem;
  }
}

.bloc-tabs {
  display: flex;
}
.tabs {
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: black;
  // border: 2px solid purple;
  box-shadow: $shadow;
  margin: 0;
  padding: 0;
  padding: 15px;
}
.tabs:not(:last-child) {
  border-right: 0.2px solid rgba(0, 0, 0, 0.2);
  // border: 2px solid yellow;
}

.active-tabs {
  background: $primary-color;
  border-bottom: 1px solid transparent;
  // border: 2px solid black;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: $accent-color;
}

.content-tabs {
  flex-grow: 1;
  padding: $element-padding;
  background-color: #ffffff;
  box-shadow: $shadow;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
.content {
  background: white;
  width: 100%;
  height: 100%;
  display: none;
}

.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
