@import "../../style/variables";

.nav-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  background-color: red;
  // box-shadow: 0px 0px 8px 2px #000000;
}

.nav-elem {
  color: black;
}
