@import "../../style/variables";

.navbar {
  position: fixed;
  display: flex;
  min-height: 100vh;
  width: $navbar-width;
  background-color: #28282b;
  z-index: 1;
  transition: width 200ms ease;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  a {
    font-size: 1.15rem;
    transition: 0.2s;
    font-weight: 600;
    color: $accent-color;
  }
}

.link-text {
  display: none;
  transition: 0.2s;
}

.nav-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.navbar:hover {
  width: 16rem;
  transition: 0.2s;
}

.navbar:hover .link-text {
  display: block;
  transition: 0.2s;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  // filter: grayscale(100%) opacity(0.7);
  transition: 0.2s;
  width: 100%;
}

.nav-link svg {
  min-width: 2rem;
  margin: $element-margin * 3;
  fill: $primary-color;
  max-width: 2rem;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: $pastel-red;
}

.nav-link:hover svg {
  fill: #ffff;
}

.logout {
  margin-top: auto;
}

.nav-item:last-child {
  margin-top: auto;
}

@media only screen and (max-width: 800px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    min-height: $navbar-width;
    height: 80px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: 0;
  }

  .navbar:hover {
    width: 100vw;
    transition: 0.2s;
  }

  .navbar:hover .link-text {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
}
